<h1>当ウェブサイトについて</h1>
<p>当ウェブサイトはVPS上にデプロイした竹川純平個人のwebアプリケーションのポートフォリオになります。<br>
現在、サーバーサイドエンジニアとしての就業を希望しております。<br>
ポートフォリオのコンセプトは今流行しているエキゾチックアニマル(犬、猫以外の爬虫類や鳥類を含む小動物のこと)専門のブリーダーと飼育者のマッチングサイトです。<br>
エキゾチックアニマルは一般的にその知名度の低さからペットショップでの取扱いが少ないため、飼育希望者はイベント販売などを通してブリーダーと直接取引することが実状となっております。<br>
しかしながらコロナ渦においてはそのイベントも制限され、飼育希望者がより簡単にブリーダーと連絡がとれるプラットフォームに需要を感じたため、当ウェブサイトをポートフォリオとして作成いたしました。<br>
興味をお持ちいただけましたら、ぜひご連絡ください。<br>

どうぞよろしくお願いいたします。<br><br>
<p>使用技術<br>
HTML/CSS、Ruby on Rails、MySQL、Bootstrap、Docker</p>

<br>竹川　純平<br>090-7418-9079<br>jpttokyo@gmail.com<br>神戸市在住