<% if flash[:notice] %>
  <div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>

<%= render @animal %>

<div class="p-comment__list shadow rounded">
  <div class="p-comment__listTitle">コメント</div>
  <%= render @animal.comments %>
</div>

<%= render partial: 'comments/form', locals: { comment: @comment } %>